doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title DevTernity — Code of Conduct
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="description" content="Your safety matters to us. This is our public commitment to doing all we can to ensure it.")
		meta(name="keywords" content="")
		meta(name="robots" content="index,follow")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.8.6/page.min.js")
		link(rel="shortcut icon" type="image/png" href="images/logo_2017_filled.png")
		link(rel="icon" href="/images/favicon.png")
		link(rel="shortcut icon" sizes="64x64" href="/images/favicon.png")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
		style
			| img { margin: 20px }
	body
		section.hero.is-warning.is-bold
			.hero-head
				.container
					img.image.is-96x96(src="/images/dt_logo_rect.png")
			.hero-body
				.container
					h1.title DevTernity — Code of Conduct
					h2.subtitle This is our public commitment to doing all we can to ensure your safety.
		section.section
			.container.content
				p
					a(href="http://devternity.com") DevTernity
					|  is committed to providing a welcoming and harassment-free environment for participants of all races, gender and trans statuses, sexual orientations, physical abilities, physical appearances, and beliefs. We’ve written this code of conduct not because we expect bad behavior from our community—which, in our experience, is overwhelmingly kind and civil—but because we believe a clear code of conduct is one necessary part of building a respectful community space.
				h3 DevTernity participants and organizers agree to:
				p 
					| Be considerate in speech and actions, and actively seek to acknowledge and respect the boundaries of fellow attendees. Refrain from demeaning, discriminatory, or harassing behavior and speech. Harassment includes, but is not limited to: deliberate intimidation; stalking; unwanted photography or recording; sustained or willful disruption of talks or other events; inappropriate physical contact; use of sexual or discriminatory imagery, comments, or jokes; and unwelcome sexual attention. If you feel that someone has harassed you or otherwise treated you inappropriately, please alert any member of the conference team in person, via the 
					a(href="tel:+37128814170") phone 
					|  or via 
					a(href="mailto:hello@devternity.com") email. 
				p Take care of each other. Alert a member of the conference team if you notice a dangerous situation, someone in distress, or violations of this code of conduct, even if they seem inconsequential. If any attendee engages in harassing behavior, the conference organizers may take any lawful action we deem appropriate, including but not limited to warning the offender or asking the offender to leave the conference. (If you feel you have been unfairly accused of violating this code of conduct, you should contact the conference team with a concise description of your grievance; any grievances filed will be considered by the entire DevTernity team.)
				p We welcome your feedback on this and every other aspect of DevTernity conference, and we thank you for working with us to make it a safe, enjoyable, and friendly experience for everyone who participates.
		footer.footer
			.container
				.content.has-text-centered
				p © DevTernity OÜ, 14226860, Mõisavahe tn 38-129 Tartu, Estonia.