doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title DevTernity — 99 Reasons Why You Must be Here
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="description" content="There are at least 99 reasons why you must be present at DevTernity.")
		meta(name="keywords" content="")
		meta(name="robots" content="index,follow")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.8.6/page.min.js")
		link(rel="shortcut icon" type="image/png" href="images/logo_2017_filled.png")
		link(rel="icon" href="/images/favicon.png")
		link(rel="shortcut icon" sizes="64x64" href="/images/favicon.png")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
		style
			| img { margin: 20px }
			| .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	body
		section.hero.is-success.is-bold
			.hero-head
				.container
					img.image.is-96x96(src="/images/dt_logo_rect.png")
			.hero-body
				.container
					h1.title 99 reasons why you must attend DevTernity
					h2.subtitle ...and why missing DevTernity is a BAD idea.
		section.section
			.container.content
				.columns
					.column.is-half
						h2.title #3 Trust the choice of architects and engineering leaders
						p 83% of conference attendees are top-level professionals — senior developers, software architects and engineering leaders. How they have become successful? They are great at making choices. The conference is an important choice that will influence your career. Trust those who is already at the top.
					.column.is-half
						h2.title #2 The venue that will make your heart dance
						p 
							| Bored of conferences that run in hotels, decorated with Soviet-style red carpets? Or spending the whole day in a dark cinema that make your eyes bleed? We feel your pain. Our venue, 
							b the Castle of Light
							|  – the winner of International Excellence Award 2018, is designed from scratch for stunning events. It's modern, light and has outstanding audio and video quality that will make your heart dance.
						.embed-container
							iframe#video(name="video" src='https://player.vimeo.com/video/265964598' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
				.columns
					.column.is-half
						h2.title #1 Lightning-fast internet
						p Our hometown – Riga, is ranked among the top 10 fastest internet cities in the world. Urgent video call? Unfinished work? No problem! Enjoy lightning-fast and free 4G and Wi-Fi everywhere – at the conference, in the hotel or a cozy coffee shop.						
		section.section
			.container.has-text-centered
				a.button.is-danger(href="https://devternity.com/registration") Omg, count me in already!
		footer.footer
			.container
				.content.has-text-centered
				p © DevTernity OÜ, 14226860, Mõisavahe tn 38-129 Tartu, Estonia.