/*
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea, .button {
		font-size: 12pt;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		margin-bottom: 2em;
	}

		header.major h2 {
			font-size: 2em;
		}

		header.major p {
			padding: 1em 1em 0 1em;
		}

.speech .speaker-bio {
	padding: 0px;
}

.speakers h1, .workshops h1 {
	font-size: 2em;
}

.intro h3, .intro p {
	text-align: center;
}

/* Banner */

	#banner {
		/*padding: 10em 2em 15em;*/
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

/* Wrapper */

	.wrapper {
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
	}

		.wrapper.style1 {
			padding: 4em 2em 2em;
		}

		.wrapper.style2 {
			padding: 4em 0em 2em;
		}

/* Footer */

	#footer {
		padding: 4em 0em 4em;
		text-align: center;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}